{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}

{% block content %}
<section>
        <div class="container container-profile_update">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>
                            {{ message|safe }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form  action="." method="post">
                {{ formset.as_p }}
                {% csrf_token %}
                <input type="submit" name="exit"  value="Сохранить и выйти">
                <input class="submit-update" type="submit" value="Сохранить и добавить поле">
            </form>
        </div>

    </section>

{% endblock %}