{% extends 'base.html' %}
{% load static %}
{% block title %} {% endblock %}

{% block content %}
    <section>
        <div class="container container-profile_update">
            <form action="." method="post">
                {% for field in form %}
                <p>{{ field }} {% if field.errors %} <small>{{ field.errors }}</small>{% endif %}</p>
                {% endfor %}
                {% csrf_token %}
                <input class="submit-update" type="submit" value="Сохранить">
            </form>
        </div>
    </section>

{% endblock %}