*{
    box-sizing: border-box;
}

html{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background:rgb(7, 1, 8);
    font-size: calc(.8rem + .8vw + .8vh);
    color:rgb(255, 200, 0);
}

a{
    text-decoration: none;
    color:rgb(255, 200, 0);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    margin:13vw 8vw 8vw 10vw;
}

/*    SECTION HEADER     */
.nav-item{
    display:flex;
    margin-top:3vw;
}

.nav-link{
    margin:auto;
}


/*      SECTION LOGIN      */


.container-login{
    text-align:center;
}


/*     SECTION UPDATE PROFILE  */

.container-profile_update{
    text-align:center;
}
input, select{
    background-color:rgb(201, 201, 201);
    border-radius:7px;
    border:none;
    text-align:center;
}


/*      SECTION SERVICE   */

.container-service{
    text-align:center;
}

.data-edit{
    display:flex;
}
.service-item-data{
    width:40%;
    margin:auto;
}
.service-item-edit{
    width:40%;
    margin:auto;
}

.service-link{
    margin-bottom:3vw;
    padding:2vw 0 2vw 0;
    border-radius:10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 200, 0, 0.4);
    -moz-box-shadow: 0px 5px 10px 2px rgba(255, 200, 0, 0.4);
    box-shadow: 0px 5px 10px 2px rgba(255, 200, 0, 0.4);
    cursor: pointer;
}

.service-link:hover{
    transform: translateY(5px);
    box-shadow: 0px 0px transparent, 0px 5px 10px rgba(255, 200, 0, 0.25);
}



.service-link-not:hover:after {
    content: attr(data-name);
    display:block;
    color:rgb(255, 200, 0);
    padding: 3px 0;
    white-space: pre-line;
    font-size:1.2vw;
    width: 100%;
}
.service-music-list{
    margin-top:7vw;
}
select{
    width:18vw;
}
/*   SECTION SONG  */

.container-song{
    text-align:center;
}

textarea{
    background-color:rgb(201, 201, 201);
    border-radius:7px;
    border:none;
}

.song-item{
    margin-top:6vw;
}

.song-link{
    display:flex;
    padding-bottom:2vw;
    border-bottom:1px  rgb(201, 201, 201) solid;
}

