*{
    box-sizing: border-box;
}

html{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background:rgb(7, 1, 8);
    font-size: calc(.8rem + .8vw + .8vh);
}

a{
    text-decoration: none;
    color:rgb(255, 200, 0);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item{
    display:flex;
    margin-top:3vw;
}

.nav-link{
    margin:auto;
}

